.item {
    border: 2px solid red;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 35px 100px;
}

.quantity-bar{
    display: flex;
    /* border: 2px solid blue; */
}