*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#title {
    display: inline-block;
    vertical-align: middle;
}

#reset-btn {
    margin-left: 200px;
}

#grid-container {
    height: 600px;
    width: 600px;
    background-color: red;
    margin: 0 auto;
    padding: 30px;
}
