*,
*::before,
*::after {
    box-sizing: border-box;
}

#title {
    /* border: 5px solid green; */
    display: inline-block;
}

#calc-container {
    /* border: 5px solid red; */
    display: grid;
    justify-content: center;
    font-size: 50px;

    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(4, 100px);
}

#calc-display {
    grid-column: 1 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;

    border: 4px solid black;
    background-color: grey;
}

.btn {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* height: 90px; */
    /* width: 90px; */
}

.helper {
    background-color: yellowgreen;
}

.operator {
    background-color: yellowgreen;
}

.number {
    background-color: aqua;
}
