*,
*::before,
*::after {
    box-sizing: border-box;
}

#title {
    display: inline-block;
}

#calc-container {
    border: 5px solid red;
    display: grid;
    justify-content: center;

    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(4, 100px);
}

.calc-display {
    grid-column: 1 / 5;
    border: 5px solid black;
    background-color: grey;
}

.btn {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 90px; */
    /* width: 90px; */
}

.operator {
    background-color: yellowgreen;
}

.number {
    background-color: aqua;
}
