*,
*::before,
*::after {
    box-sizing: border-box;
}

#title {
    /* border: 5px solid green; */
    display: inline-block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    height: 600px;
    width: 600px;
    background-color: aquamarine;
}
