:root {
    --border: 10px solid black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#title {
    /* border: 5px solid green; */
    display: inline-block;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    padding: 30px;
    height: 600px;
    width: 600px;
    border: 5px solid black;

    background-color: aquamarine;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: white;
    cursor: pointer;
}

/* Adds the boders to make the tic tac toe outline */
.square:nth-child(-n + 3) {
    border-bottom: var(--border);
}

.square:nth-child(3n + 1) {
    border-right: var(--border);
}

.square:nth-child(3n) {
    border-left: var(--border);
}

.square:nth-child(n + 7) {
    border-top: var(--border);
}
